
#n0{
    top: 550px;
    left: 10px;
}
#n1{
    top: 480px;
    left: 220px;
}
#n2{
    top: 400px;
    left: 400px;
}
#n3{
    top: 340px;
    left: 200px;
}
#n4{
    top: 280px;
    left: 380px;
}
#n5{
    top: 330px;
    left: 760px;
}
#n6{
    top: 320px;
    left: 980px;
}
#n7{
    top: 270px;
    left: 630px;
    width: 60px;
}
#n8{
    top: 275px;
    left: 1150px;
    width: 60px;
}
#n9{
    top: 230px;
    left: 730px;
    width: 55px;
}
#n10{
    top: 230px;
    left: 980px;
    width: 45px;
}