
/* NAVBAR */
div.container-fluid.first{
    padding-top: 2em;
}
img.logo{
    width: 70%;
}
div.side-buttons{
    display: flex;
}
div.side-buttons a{
    margin-left: 1em;
}
/* NAVBAR */

.ruta{
    width: 100%;
    height: 540px;
}