body{
    background-image: url('../img/lightbulb.jpg');
    background-size: cover;
}

.main-container{
    margin-bottom: 0;
    height: 47.3em;
}

img.logo{
    width: 20%;
}
.card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.card.white{
    margin-top: 40%;
}
#login a.olvidaste{
  font-size: 0.8em;
  cursor: pointer;
}
.btn-flat{
  padding: 0;
  margin-left: 1em;
}

#registro, #recuperar{
  display: none;
}

#detalle_recuperar{
  font-size: 0.8em;
}
button, .card-title.azul-text{
    font-family: swis;
}
