
#n0{
    top: 550px;
    left: 10px;
}
#n1{
    top: 480px;
    left: 220px;
}
#n2{
    top: 400px;
    left: 400px;
}
#n3{
    top: 320px;
    left: 240px;
}
#n4{
    top: 280px;
    left: 420px;
}
#n5{
    top: 330px;
    left: 760px;
}
#n6{
    top: 330px;
    left: 990px;
}
#n7{
    top: 270px;
    left: 630px;
    width: 60px;
}
#n8{
    top: 275px;
    left: 1150px;
    width: 60px;
}
#n9{
    top: 220px;
    left: 820px;
    width: 55px;
}
#n10{
    top: 210px;
    left: 1040px;
    width: 45px;
}