
#n0{
    top: 550px;
    left: 10px;
}
#n1{
    top: 400px;
    left: 400px;
}
#n2{
    top: 310px;
    left: 280px;
}
#n3{
    top: 320px;
    left: 980px;
}
#n4{
    top: 250px;
    left: 680px;
}
#n5{
    top: 275px;
    left: 1150px;
}
#n6{
    top: 210px;
    left: 1050px;
    width: 45px;
}